
#dataChartDisplay{
    width: 90%;
    margin-bottom: 50px;
    text-align: center;
    z-index: 0;
		margin: auto;
	position: relative;
}

#dataChartDisplay h2{
    padding: 15px;
}

.lvl{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-right: 10px;
}

.cap{
    width: 19%;
    padding: 10px;
}

.display-black{
    background-color: black;
    width: 19%;
    min-height: 150px;
    margin: 2px;
}

.display-red{
    background-color: #ff0000;
    width: 19%;
    min-height: 150px;
    margin: 2px;
}

.display-orange{
    background-color: #ffc000;
    width: 19%;
    min-height: 150px;
    margin: 2px;
}

.display-yellow{
    background-color: #ffff00;
    width: 19%;
    min-height: 150px;
    margin: 2px;
}

.display-green{
    background-color: #92D050;
    width: 19%;
    min-height: 150px;
    margin: 2px;
<<<<<<< HEAD:ircsmstool/dataDisplay/dataDisplay.css
=======

>>>>>>> e7ba32e8f3a009d25329d8a27dc5a4999f4ad9ac:dataDisplay/dataDisplay.css
}

plot {
/* 	float:left;
    margin: 3px;
  border-bottom: 1px dotted black;
    aspect-ratio : 1 / 1;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    order: 1;
    flex-basis: 20%; */
}

.plot .dataText {
  visibility: hidden;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px ;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.plot:hover .dataText {
  visibility: visible;
}


#diagonal{
  visibility: visible;
	
  width: 200%;
  height: 5px;
  background-color: #555753;
  transform: rotate(-35deg);
	transform-origin: bottom left;
	position: absolute;
	bottom: 10%;
	left: 0%; 
  z-index: 1;
}