
#dataChartDisplay{
    background-color: #f3f3f3;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    position: absolute;
    left: 2%;
    z-index: 0;
}

#dataChartDisplay h2{
    padding: 15px;
}

.lvl{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-right: 10px;
}

.cap{
    width: 19%;
    padding: 10px;
}

.display-black{
    background-color: black;
    aspect-ratio : 1 / 1;
    width: 19%;
    margin: 2px;
}

.display-red{
    background-color: #ff0000;
    aspect-ratio : 1 / 1;
    width: 19%;
    margin: 2px;
}

.display-orange{
    background-color: #ffc000;
    aspect-ratio : 1 / 1;
    width: 19%;
    margin: 2px;
}

.display-yellow{
    background-color: #ffff00;
    aspect-ratio : 1 / 1;
    width: 19%;
    margin: 2px;
}

.display-green{
    background-color: #92D050;
    aspect-ratio : 1 / 1;
    width: 19%;
    margin: 2px;
    display: flex;
}

plot {
/* 	float:left;
    margin: 3px;
  border-bottom: 1px dotted black;
    aspect-ratio : 1 / 1;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    order: 1;
    flex-basis: 20%; */
}

.plot .dataText {
  visibility: hidden;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px ;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.plot:hover .dataText {
  visibility: visible;
}


#diagonal{
  visibility: visible;
  width: 95%;
  height: 5px;
  background-color: #555753;
  transform: skewY(-25deg);
  position: absolute;
  top: 51%;
  left: 3%; 
  z-index: 1;
}