.shape{
    float: left;
	width: 20%;
}

.key{
	width: 10%;
	float: left;
}

.shape img{
	width: 90%;
}

.red{
	filter: invert(15%) sepia(93%) saturate(2440%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.orange{
	filter: invert(36%) sepia(80%) saturate(3789%) hue-rotate(2deg) brightness(97%) contrast(97%);
}

.yellow{
	filter: invert(77%) sepia(37%) saturate(1428%) hue-rotate(10deg) brightness(110%) contrast(97%);
}

.green{
	filter: invert(32%) sepia(95%) saturate(748%) hue-rotate(108deg) brightness(92%) contrast(101%);
}

.light-blue{
	filter: invert(53%) sepia(56%) saturate(419%) hue-rotate(167deg) brightness(97%) contrast(90%);
}

.dark-blue{
	filter: invert(18%) sepia(67%) saturate(3781%) hue-rotate(249deg) brightness(71%) contrast(137%);
}

.purple{
	filter: invert(17%) sepia(27%) saturate(7066%) hue-rotate(285deg) brightness(108%) contrast(131%);
}

.pink{
	filter: invert(65%) sepia(22%) saturate(924%) hue-rotate(291deg) brightness(112%) contrast(98%);
}

.white{
	filter: invert(100%) sepia(11%) saturate(26%) hue-rotate(211deg) brightness(117%) contrast(100%);
}

.gray{
	filter: invert(92%) sepia(0%) saturate(419%) hue-rotate(155deg) brightness(82%) contrast(94%);
}

.dirt{
	filter: invert(27%) sepia(89%) saturate(1486%) hue-rotate(36deg) brightness(97%) contrast(101%);
}

.light-green{
	filter: invert(89%) sepia(13%) saturate(1295%) hue-rotate(65deg) brightness(90%) contrast(90%);
}